# ----------------------------------------
# Python Version
# Recommended: Python 3.11 or 3.12
# ----------------------------------------

# Django
Django>=5.0,<6.0
python-decouple>=3.8

# Core Scientific Libraries
numpy>=1.26.4
pandas>=2.2.2

# Django Extensions
django-recurrence==1.11.1

# Image Processing
Pillow>=10.3.0

# Utilities
PyYAML>=6.0.2
coverage>=7.6.0
